<% provide(:title, "Calendar") %>


<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="toppage">
    <h1 class="top">カレンダー</h1>
  </div>



  <div class="row">
    <div class="col-md-3">
  	  <div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>業務タイトル</th>
            <th>開始時刻</th>
          </tr>
        </thead>

        <tbody>
          <% @shifts.each do |shift| %>
            <tr>
              <td><%= link_to shift.otsutome_title , shift %></td>
              <td><%= shift.start_time.strftime("%-m月%-d日%-H時%-M分") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>




    <div class="col-md-9">
      <%= month_calendar events: @shifts do |date, shifts| %>
        <div class="d-flex align-items-center mb-3">
          <%= date.day %>
          <div class="ms-auto">
            <%= link_to new_shift_path(default_date: date), { class: "btn btn-sm btn-outline-primary fs10", "data-bs-target": "#shiftModal", "data-bs-toggle": "modal", remote: true } do %>
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <% shifts.each do |shift| %>
          <div class="my-1">
            <%= link_to "#{shift.otsutome_title}（#{shift.start_time.strftime("%R")} ~ #{shift.end_time.strftime("%R")}）", { class: "btn btn-sm btn-success", "data-bs-target": "#eventModal", "data-bs-toggle": "modal", remote: true } %>
          </div>
        <% end %>
      <% end %>


      <%= form_with(model: @shift, local: true) do |form| %>
      <h1 class="top">管理者用メニュー</h1>

        <div class="otsutome_title">
          <div class="form-tag">新規業務タイトル</div>
          <%= form.text_field :otsutome_title %>
        </div>


        <div class="content">
          <div class="form-tag">業務内容</div>
          <%= form.text_field :content %>
        </div>

        <div class="submit">
          <%= form.submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>
