<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :email ,"Eメール"%>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password ,"パスワード"%>
      <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox" do %>
          <div style="display:inline-block;"><!--力技-->
            <%= f.check_box :remember_me %>
          </div>
          <div style="display:inline-block; margin-left: 20px;"><!--力技-->
            <span>パスワードを保存する</span>
          </div>
        <% end %>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "新規登録", signup_path %></p>
  </div>
</div>

