<% provide(:title, "Shift Preferences Calendar") %>

<div class="toppage">
  <h1 class="top">シフト希望</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-16">
      <%= month_calendar events: @shift_preferences do |date, shift_preferences| %>
        <%= date.day %>

        <% shift_preferences.each do |shift_preference| %>
          <div>
            <% if shift_preference %>
              <%= "#{shift_preference.user.name}: #{shift_preference.time_slot.name} (#{shift_preference.preference_level.name})" %>
            <% end %>
          </div>
        <% end %>

        <% if shift_preferences.any? %>
          <div>
            <%= link_to '削除', shift_preferences.first, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
          </div>
        <% end %>

        <% if shift_preferences.empty? %>
          <div>
            <%= link_to '未設定', new_shift_preference_path(default_date: date.to_s), remote: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
