<% provide(:title, "AdminShiftEdit") %>

<div class="toppage admin-view">
  <h1 class="top">シフト管理</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="adminindex">
      <button id="show-possible">可能のみ表示</button>
        <%= week_calendar events: @shift_preferences do |date, shift_preferences| %>
          <% TimeSlot.all.each do |time_slot| %>
            <div class="timeslot-section" data-timeslot="<%= time_slot.name %>">
              <h2 class="my-class"><%= "#{time_slot.name} (#{time_slot.start_time.strftime('%H:%M')} ～ #{time_slot.end_time.strftime('%H:%M')})" %></h2>
              <% shift_preferences.select { |sp| sp.time_slot.name == time_slot.name }.sort_by(&:created_at).each do |shift_preference| %>
                <div class="shift-preference" style="color: <%= shift_preference.preference_level.color.name %>;">
                  <%= link_to new_shift_path(user_id: shift_preference.user.id, date: shift_preference.date, start_time: time_slot.start_time, end_time: time_slot.end_time), class: "shift-link" do %>
                    <%= "#{shift_preference.user.name}" %>
                  <% end %>
                  <%=  " : " %>
                  <% if shift_preference %>
                    <%= " #{shift_preference.preference_level.name}" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

