<% provide(:title, "Shift Preferences Calendar") %>

<div class="toppage">
  <h1 class="top">シフト希望</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-16">
      <%= month_calendar events: @shift_preferences do |date, shift_preferences| %>
        <%= date.day %>
        <% shift_preferences.sort_by { |sp| sp.time_slot.order }.each do |shift_preference| %>
          <div>
            <% if shift_preference %>
              <%= "#{shift_preference.time_slot.name} (#{shift_preference.preference_level.name})" %>
            <% end %>
          </div>
        <% end %>

        <% if shift_preferences.any? %>
          <div>
            <%= link_to '削除', shift_preferences.first, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: 'delete-btn', 'data-url': shift_preference_path(shift_preferences.first), 'data-redirect': shift_preferences_path %>
          </div>
        <% end %>

        <% if shift_preferences.empty? %>
          <div>
            <%= link_to '未設定', new_shift_preference_path(default_date: date.to_s), remote: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




<script>
// Delete handler
document.querySelectorAll('.delete-btn').forEach(function(btn) {
  btn.addEventListener('click', function(e) {
    e.preventDefault();
    if (confirm('本当に削除しますか？')) {
      fetch(e.target.dataset.url, {
        method: 'DELETE',
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        }
      })
      .finally(function() {
        // 成功したか失敗したかに関わらず、ページ全体をリロード
        location.reload();
      });
    }
  });
});

</script>
