<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィール", current_user %></span>
<span><%= link_to "シフト登録＆編集", calendar_path(current_user) %></span>
<br>
<h1>可能業務 一覧</h1>
<% if current_user.possible_task.present? %>
  <%= "可能業務の一覧を表示したい(開発)" %>
<% else %>
  <%= "あなたはまだ可能業務の登録を行っていません" %>
<% end %>