<li id="shift-<%= shift.id %>">
  <%= link_to gravatar_for(shift.user, size: 50), shift.user %>
  <span class="user"><%= link_to shift.user.name, shift.user %></span>
  <span class="content">
    <%= shift.otsutome_title %>
    <br>
    <%= l shift.start_time %> から <%= l shift.end_time, format: :only_time %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(shift.created_at) %> 前に投稿
    <% if current_user?(shift.user) %>
    <body></body>
      <%= link_to "削除", user_shift_path(user_id: @user.id, id: shift.id), method: :delete, data: { confirm: 'シフトを削除してもよろしいですか？' } %>

    <% end %>
  </span>
</li>