<% provide(:title, "AdminCalendar") %>


<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="toppage">
    <h1 class="top">管理人用カレンダー</h1>
  </div>



  <div class="row">
    <div class="col-md-3">
  	  <div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>業務タイトル</th>
            <th>開始時刻</th>
          </tr>
        </thead>

        <tbody>
          <% @allshifts.each do |shift| %>
            <tr>
              <td>
                <%= link_to edit_user_shift_path(shift.user, shift), romote: true do %>
                  <%= "#{shift.otsutome_title}" %>
                <%end%>
              </td>
              <td><%= shift.start_time.strftime("%-m月%-d日%-H時%-M分") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>




    <div class="col-md-9">
      <%= month_calendar events: @allshifts do |date, shifts| %>
        <div class="d-flex align-items-center mb-3">
          <%= date.day %>
          <div class="ms-auto">
            <%= link_to new_user_shift_path(current_user.id, default_date: date), { class: "btn btn-sm btn-outline-primary fs10", "data-bs-target": "#shiftModal", "data-bs-toggle": "modal", remote: true } do %>
              <i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <% shifts.each do |shift| %>
          <div class="my-1">
            <% if shift.user.possible_task.include?(shift.otsutome_title) %>
              <%= link_to edit_user_shift_path(shift.user, shift), class: "btn btn-sm btn-success", "data-bs-target": "#eventModal", "data-bs-toggle": "modal", remote: true  do %>
                <%= "#{shift.user.name}"%><br><%= "#{shift.otsutome_title}" %><br><%= "(#{shift.start_time.strftime("%R")} ~ #{shift.end_time.strftime("%R")})" %>
              <% end %>
            <% else %>
              <%= link_to edit_user_shift_path(shift.user, shift), class: "btn btn-sm btn-danger", "data-bs-target": "#eventModal", "data-bs-toggle": "modal", remote: true  do %>
                <%= "#{shift.user.name}"%><br><%= "#{shift.otsutome_title}" %><br><%= "(#{shift.start_time.strftime("%R")} ~ #{shift.end_time.strftime("%R")})" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>
