<%= form_with(model: @shift, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <h1>新規シフト登録</h1>

  <table class="table table-borderless">
    <tr>
      <td><%= f.label :otsutome_title, "業務内容" %></td>
    </tr>
    <tr>
      <td>
        <div class="radio-group">
          <% if @task_names.present? %>
            <% @task_names.each do |title| %>
              <div class="radio">
                <%= f.radio_button :otsutome_title, title, class: "radio-input" %>
                <%= f.label :otsutome_title, title, class: "radio-label" %>
              </div>
            <% end %>
          <% else %>
            シフトの名称が未設定のため、「名称未設定」となります
            <%= f.hidden_field :otsutome_title, value: "名称未設定" %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :start_time, "開始時刻" %></td>
    </tr>
    <tr>
      <td>
        <div class="datetime_select">
          <%= raw sprintf(f.datetime_select(:start_time, with_css_classes: true, default: { year: @default_date.year, month: @default_date.month, day: @default_date.day }, minute_step: 10, use_month_numbers: true, start_year: (Time.current.year), end_year: (Time.current.year + 1), date_separator: '%s', datetime_separator: "%s", time_separator: "%s"), "年 ", "月 ", "日 ", "時 ") + "分" %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :end_time, "終了時刻" %></td>
    </tr>
    <tr>
      <td>
        <div class="datetime_select">
          <%= raw sprintf(f.datetime_select(:end_time, with_css_classes: true, default: { year: @default_date.year, month: @default_date.month, day: @default_date.day }, minute_step: 10, use_month_numbers: true, start_year: (Time.current.year), end_year: (Time.current.year + 1), date_separator: '%s', datetime_separator: "%s", time_separator: "%s"), "年 ", "月 ", "日 ", "時 ") + "分" %>
        </div>
      </td>
    </tr>
  </table>
  <div class="d-flex justify-content-end">
    <%= f.submit "シフト登録", class: "btn btn-primary" %>
  </div>
<% end %>
