<%= form_with(model: @shift) do |f| %>

  <div class="field">
    <div class="title">
      <%= f.label :otsutome_title, "業務内容"%>
      <%= f.select :otsutome_title, [["オーダー", "オーダー"], ["キッチン(オーブン)", "キッチン(オーブン)"], ["キッチン(パスタ)", "キッチン(パスタ)"], ["ウォッシャー", "ウォッシャー"]], include_blank: "選択して下さい" %>
    </div>

    <div class="time">
      <%= f.label :start_time, "開始時刻" %>
      <%= f.datetime_select :start_time, default: { year: @default_date.year, month: @default_date.month, day: @default_date.day }, minute_step: 10 %>
    </div>

    <div class="time">
      <%= f.label :end_time, "終了時刻" %>
      <%= f.datetime_select :end_time, default: { year: @default_date.year, month: @default_date.month, day: @default_date.day }, minute_step: 10 %>
    </div>
  </div>
  <%= f.submit "シフト登録", class: "btn btn-primary" %>
<% end %>