<% provide(:title, "New shift") %>

<%= form_with model: [@user, @shift], local: true do |f| %>
  <%= render 'shared/error_messages', object: @shift %>
  <h1><%= @user.name %>の新規シフト登録</h1>

<% range_start = TimeSlot.minimum(:start_time) %>
<% range_end = TimeSlot.maximum(:end_time) %>

<% TimeSlot.all.each do |time_slot| %>
  <% shift_preference = @user.shift_preferences.find_by(date: @default_date, time_slot: time_slot) %>
  <% if shift_preference %>
    <div class="shift-bar panel panel-default"
         style="margin-left: <%= percentage_of_day_for_time_in_range(shift_preference.start_time, range_start, range_end) %>%;
                width: <%= percentage_of_time_range(shift_preference.start_time, shift_preference.end_time, range_start, range_end) %>%;
                background-color: <%= shift_preference.preference_level.color.name %>;
                color: white;">
      <p><%= shift_preference.time_slot.name %> (<%= shift_preference.start_time.strftime('%H:%M') %> ~ <%= shift_preference.end_time.strftime('%H:%M') %>): <%= shift_preference.preference_level.name %></p>
    </div>
  <% else %>
    <div class="shift-bar panel panel-default"
         style="margin-left: <%= percentage_of_day_for_time_in_range(time_slot.start_time, range_start, range_end) %>%;
                width: <%= percentage_of_time_range(time_slot.start_time, time_slot.end_time, range_start, range_end) %>%;
                background-color: grey;
                color: white;">
      <p><%= time_slot.name %> (<%= time_slot.start_time.strftime('%H:%M') %> ~ <%= time_slot.end_time.strftime('%H:%M') %>): 未回答</p>
    </div>
  <% end %>
<% end %>



  <table class="table table-borderless">
    <div class="date">
      <h3 style="text-align: center"><%= @shift.start_time.strftime("%Y年 %m月 %d日(%a)") %></h3>
    </div>
    <tr>
      <td><%= f.label :otsutome_title, "業務内容" %></td>
    </tr>
    <tr>
      <td>
        <div class="radio-group">
          <% if @task_names.present? %>
            <% @task_names.each do |title| %>
              <div class="radio">
                <%= f.radio_button :otsutome_title, title, class: "radio-input" %>
                <%= f.label :otsutome_title, title, class: "radio-label" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :start_time, "開始時刻" %></td>
    </tr>
    <tr>
      <td>
        <div class="time_select">
          <%= raw sprintf(f.time_select(:start_time, with_css_classes: true, minute_step: 10, time_separator: "%s"), "時 ") + "分" %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :end_time, "終了時刻" %></td>
    </tr>
    <tr>
      <td>
        <div class="time_select">
          <%= raw sprintf(f.time_select(:end_time, with_css_classes: true, minute_step: 10, time_separator: "%s"), "時 ") + "分" %>
        </div>
      </td>
    </tr>
  </table>

  <div class="d-flex justify-content-end">
    <%= f.submit "シフト登録", class: "btn btn-primary" %>
  </div>

<% end %>
